<p><%= link_to "Back to List", midis_path %></p>

<h1>Midi: <%= @midi.name %></h1>

<%= link_to "Download Midi File", midi_path(@midi.name, :format => 'mid') %>

<div id=info>
<h2>Info</h2>
<p>Beats Per Minute: <%= @midi.bpm %><p>
</div>

<div id=data>
  <% @midi.tracks_to_array.each do |l| %>
  <p><%= l %><p>
  <% end %>
</div>
