<p><%= link_to "Back to List", midis_path %></p>

<h1>Midi: <%= @midi.name %></h1>

<%= link_to "Download Midi File", midi_path(@midi.name, :format => 'mid') %>

<div id=info>
<h2>Info</h2>
<p class=info_child><span class=bold>Tempo:</span> <%= @midi.bpm %>bpm |</p>
<p class=info_child><span class=bold>Tracks:</span> <%= @midi.tracks.length %> | </p>
<p class=info_child><span class=bold>Midi Format:</span> <%= @midi.format %> </p>
</div>

<div id=tracks>
  <h2>Tracks:</h2>

  <% track_id = 0 %>
  <% @midi.tracks.each do |t| %>
  <div class='track' id='track_<%= track_id %>'>
    <!-- Track nam -->
    <h3>Track: <%= t.name %>
    <% if track_id == 0 %>
      (meta-track)</h3>
    <% else %>
      </h3>
    <p>Instrument: <%= t.instrument || 'undefined' %> </p>
    <% end %>
   
    <!-- Events -->
    <h4 class="expander" data-selector='#events_<%= track_id %>'><%= t.events.length %> Events</h4>
    <div class='events' id='events_<%= track_id %>'>
    <% t.each do |e| %>
      <% if e.class == MIDI::MetaEvent %>
        <% information = "meta_#{e.meta_type}" %>
      <% else %>
        <% information = e.class %>
      <% end %>
      <p class='event' data-popup-toggle data-information-id=<%= information %>><%= e.to_s %></p>
    <% end %>
    </div>
  <% track_id += 1 %>
  </div>
  <% end %>

</div>
